<%- include("partials/header.ejs") %>
<div class="container px-4 py-5" id="custom-cards">
    <h2>Features</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Edit posts <strong>effortlessly</strong></h3>
            <p>Creating, editing and managing has never been this easy!</p>
            <button onclick="window.location.href = '/create';" class="nav-btn">Create Now!</button>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Sharing made <strong>easy</strong></h3>
            <p>Share your creation with friends and family with ease </p>
            <button onclick="window.location.href = '/create';" class="nav-btn">Create Now!</button>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Spice it up with <strong>pictures</strong></h3>
            <p>Don't just add text to your blogs, add pictures too 😉</p>
            <button onclick="window.location.href = '/create';" class="nav-btn">Create Now!</button>
          </div>
        </div>
        <img src="/Minimalistic_Cartoonish_Illustration_2.png" class="about_img">

      </div>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>