<%- include("partials/header.ejs") %>
    <div class="hero bg">
        <div class="hero1">
            <h1>Your Story, <strong>Amplified</strong></h1>
            <h2>Start Blogging Today!</h2>
            <button onclick="window.location.href = '/create';">Get Started!</button>
        </div>
        <div class="hero2">
            <img src="Minimalistic_Cartoonish_Illustration_Original.png" alt="girl typing" height="400" width="400" class="girl_img">
        </div>
    </div>
    <%- include("partials/footer.ejs") %>